


/* start event */

.event h1 {
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}
.event p {
  font-size: 16px;
  line-height: 1.6;
  color: #4b4b4b;
}

.event {
  height: 100vh;
  display: flex;
}

.test {
  margin: auto;
}

.event .group {
  display: -webkit-box;
  margin-top: 25rem;
}

.smart-img-back {
  width: 100%;
}

.smart-contener-img {
  /* text-align: center; */
  margin-top: 19%;
}

.smart-img-front {
  position: absolute;
  left: 35%;
  top: 0%;
  height: 70%;
  width: 55%;
}

/* end event */

/* start apply */
.nav-tabs {
  border: none;
}

.apply2 {
  background: url(/img/Careers.png);
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 12%;
}

.nav-tabs .nav-link {
  font-size: 18px !important;
  color: #acacac !important;
  margin-right: 50px;
  padding: 0 !important;
  background-color: transparent;
}

.nav-tabs .nav-link:hover {
  background: none;
  border: none;
}

.nav-tabs .nav-item .active {
  color: #009bdb !important;
  font-weight: bold !important;
  border: none !important;
  border-bottom: 3px solid #009bdb !important;
  background-color: transparent;
}

.apply2 h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 3%;
}

.apply2 .openCvBtn {
  padding: 1%;
  color: #fff;
  text-decoration: none;
  background-color: #009bdb;
  float: right;
}
/*  */

.pagination {
  margin-top: 4%;
  justify-content: center;
}

.pagination a {
  color: #232323;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.3s;
}

.pagination a.active {
  color: white;
  background-color: #000;
  border-radius: 50%;
}

.pagination a:hover:not(.active) {
  border: 0;
}
/* end apply */

/* satrt por */
.por {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10005;
  width: 50%;
}

.por .ui {
  background-color: #232323;
  top: -14%;
  position: relative;
}

.por .close-aplay2 {
  margin-top: -4%;
  margin-left: 3%;
}

.por .div {
  display: flex;
}

.por .test2 span {
  display: flex;
  margin-left: 9%;
  font-size: 20px;
  line-height: 2;
}

.por .h-1 {
  margin-top: 1.5%;
  margin-left: 0%;
}

.por .ui p {
  color: #ffffff;
  font-size: 16px;
  width: 80%;
  margin-left: 3%;
}

.por .ui h3 {
  color: #aba6a6;
  font-weight: bold;
  font-size: 24px;
  margin-left: 3%;
  margin-top: 5%;
}

.por .opac {
  background-color: #000;
  opacity: 0.2;
}

.por .apply2 {
  background: #000;
  height: 100%;
}

.por h1 {
  color: #fff;
  margin-left: 10%;
  padding: 2%;
}

.por form input {
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  margin-top: 2%;
  font-size: 15px;
  color: #aaaaaa;
  background-color: transparent;
  border: 1px solid#AAAAAA;
  border-radius: 5px;
  color: #fff;
}

.por form textarea {
  background: transparent;
  padding: 1%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  color: #fff;
}

.por .one {
  color: #aba6a6;
  font-size: 16px;
}

.por .two {
  color: #fff;
  font-size: 16px;
}

.por form .send {
  width: 25%;
  text-align: center;
  background-color: #009bdb;
  color: #fff;
  border: none;
}

.por .cloud {
  text-align: center;
  border: dashed;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
}

.por form h3 {
  font-size: 16px;
  padding-left: 3%;
}

.por i {
  color: #fff;
  z-index: 5555;
  position: relative;
  top: 75px;
  font-size: 24px;
  margin-left: 5%;
}

/* end por */

/* start join */

.jion {
  height: 100vh;
  display: flex;
}

.jion .group img {
  width: 80%;
  padding-top: 15%;
  height: 60%;
}

.jion .group {
  justify-content: center;
  display: -webkit-box;
}

.jion h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 28rem;
}

.jion p {
  font-size: 16px;
  line-height: 1.8;
}

.jion .openCvBtn {
  background-color: #009bdb;
  color: #ffffff;
  border-radius: 3px;
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  text-decoration: none;
}

/* end jion */

/* satrt cv */
.cv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2002;
  width: 50%;
}

.cv .opac {
  background-color: #000;
  opacity: 0.2;
}

.cv .apply {
  background: #000;
  height: 100%;
}

.cv h1 {
  color: #fff;
  margin-left: 10%;
  padding: 2%;
}

.cv form input {
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  margin-top: 2%;
  font-size: 15px;
  color: #aaaaaa;
  background-color: transparent;
  border: 1px solid#AAAAAA;
  border-radius: 5px;
  color: #fff;
}

.cv form textarea {
  background: transparent;
  padding: 1%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  color: #fff;
}

.cv form .send {
  width: 25%;
  text-align: center;
  background-color: #009bdb;
  color: #fff;
  border: none;
}

.cv .cloud {
  text-align: center;
  border: dashed;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
}

.cv form h3 {
  font-size: 16px;
  padding-left: 3%;
}

.cv i {
  color: #fff;
  z-index: 5555;
  position: relative;
  top: 75px;
  font-size: 24px;
  margin-left: 5%;
}

/* end cv */

/* start madia */

@media only screen and (max-width: 320px) {

  .event .group h1 {
    font-size: 24px !important;
    
  }

  .jion h1 {
    /* font-size: 24px; */
    white-space: nowrap;
    margin-top: 17rem;
  }

  .jion .group img {
    margin-left: -6rem !important;
  }

}

@media only screen and (max-width: 375px) {
  
  .jion h1 {
    /* font-size: 24px; */
    white-space: nowrap;
    margin-top: 2rem;
  }


  .jion .openCvBtn {
    margin-bottom: 15rem;
  }

}

@media only screen and (max-width: 425px) {

  .apply2 {
    display: none;
  }

  .smart-contener-img {
    margin-left: 0rem !important;
    margin-top: 8rem;
  }

  .event .group h1 {
    font-size: 30px;
  }

  .jion .group img {
    width: 148%;
    height: auto;
  }

    .jion h1 {
    /* font-size: 24px; */
    white-space: nowrap;
    margin-top: 25rem;
  }

}

@media only screen and (max-width: 768px) {
    .revers {
      display: flex;
      flex-direction: column-reverse;
    }

  .smart-contener-img {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 11rem;
  }

  .event .group {
    margin-top: 3rem;
  }

  .jion .group img {
    text-align: center;
    margin-left: -9rem;
  }

}

/* end madia */
