.right-dir{
  direction: rtl;
  text-align: right;
}

/* start event */
body {
    font-family: 'Montserrat', sans-serif;
}

.event {
  height: 100vh;
}

.smart-contener-img {
  margin-top: 8rem;
}

.event .group {
  margin-top: 21rem;
}

.event h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.event p {
  color: #4b4b4b;
  font-size: 1rem;
  line-height: 2;
}

.event .smart-img-back {
  width: 100%;
}

.event .smart-img-front {
  position: absolute;
  width: 50%;
  left: 12rem;
}

/* end event */

/* start apply */
.nav-tabs {
  border: none;
}

.tabs {
  background: url('../img/Careers.png');
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 12%;
}

.nav-tabs .nav-link {
  font-size: 18px !important;
  color: #acacac !important;
  margin-right: 50px;
  padding: 0 !important;
  background-color: transparent;
}

.nav-tabs .nav-link:hover {
  background: none;
  border: none;
}

.nav-tabs .nav-item .active {
  color: #009bdb !important;
  font-weight: bold !important;
  border: none !important;
  border-bottom: 3px solid #009bdb !important;
  background-color: transparent;
}

.tabs h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 3%;
}

.tabs .openCvBtn {
  padding: 1%;
  color: #fff;
  text-decoration: none;
  background-color: #009bdb;
  float: right;
}

.pagination {
  margin-top: 4%;
  justify-content: center;
}

.pagination a {
  color: #232323;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.3s;
}

.pagination a.active {
  color: white;
  background-color: #000;
  border-radius: 50%;
}

.pagination a:hover:not(.active) {
  border: 0;
}
/* end apply */

/* satrt openmodel */
.openmodel {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10005;
  width: 50%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #000;
  padding-top: 0;
}

.openmodel .ui {
  background-color: #232323;
  position: relative;
}

.openmodel .close-aplay2 {
  margin-left: 3%;
}

.openmodel .div {
  display: flex;
  align-items: center;
}

.openmodel .test2 span {
  display: flex;
  margin-left: 9%;
  font-size: 20px;
  line-height: 2;
}

.openmodel .h-1 {
  margin-left: 0%;
}

.openmodel .ui p {
  color: #ffffff;
  font-size: 16px;
  width: 80%;
  margin-left: 3%;
}

.openmodel .ui h3 {
  color: #aba6a6;
  font-weight: bold;
  font-size: 24px;
  margin-left: 3%;
  margin-top: 5%;
}

.openmodel .opac {
  background-color: #000;
  opacity: 0.2;
}

.openmodel .apply3 {
  background: #000;
  height: 100%;
}

.openmodel h1 {
  color: #fff;
  margin-left: 4%;
  padding: 2%;
}

.openmodel form input {
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  margin-top: 2%;
  font-size: 15px;
  color: #aaaaaa;
  background-color: transparent;
  border: 1px solid#AAAAAA;
  border-radius: 5px;
  color: #fff;
}

.openmodel form textarea {
  background: transparent;
  padding: 1%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  color: #fff;
}

.openmodel .one {
  color: #aba6a6;
  font-size: 16px;
}

.openmodel .two {
  color: #fff;
  font-size: 16px;
}

.openmodel form .send {
  width: 25%;
  text-align: center;
  background-color: #009bdb;
  color: #fff;
  border: none;
  margin-bottom: 5rem;
}

.openmodel .cloud {
  text-align: center;
  border: dashed;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
}

.openmodel form h3 {
  font-size: 16px;
  padding-left: 3%;
}

.openmodel i {
  color: #fff;
  z-index: 5555;
  font-size: 24px;
  margin-left: 5%;
}

/* end openmodel */

/* start jion */

.jion {
  height: 100vh;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.jion h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.jion p {
  font-size: 1rem;
  line-height: 2;
  color: #4b4b4b;
}

.jion .group {
  margin-top: 16rem;
}

.jion .openCvBtn {
  background-color: #009bdb;
  padding: 0.5rem;
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}

.jion img {
  width: 70%;
  height: 100%;
}

/* end jion */

/* satrt cv */
.cv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2002;
  width: 50%;
}

.cv .opac {
  background-color: #000;
  opacity: 0.2;
}

.cv .apply {
  background: #000;
  height: 100%;
}

.cv h1 {
  color: #fff;
  /* margin-left: 10%; */
  font-size: 30px;
  padding: 2%;
}

.cv form input {
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  margin-top: 2%;
  font-size: 15px;
  color: #aaaaaa;
  background-color: transparent;
  border: 1px solid#AAAAAA;
  border-radius: 5px;
  color: #fff;
}

.cv form textarea {
  background: transparent;
  padding: 1%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  color: #fff;
}

.cv form .send {
  width: 25%;
  text-align: center;
  background-color: #009bdb;
  color: #fff;
  border: none;
}

.cv .cloud {
  text-align: center;
  border: dashed;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv form h3 {
  font-size: 14px;
  padding-left: 3%;
  margin: 0;
}

.cv i {
  color: #fff;
  z-index: 5555;
  /* position: relative; */
  /* top: 55px; */
  font-size: 24px;
  /* margin-left: 5%; */
}

.cv .arrow {
    margin-left: 5%;
}

/* end cv */
.hide {
  display: none;
}

.dropdown-menu{
  border: 1px solid #ACACAC;
  border-radius: 3px;
}

/* start madia */

@media (max-width: 320px) {
.event {
height: 100%;
}
.revers {
flex-flow: column-reverse;
}

.tabs {
  height: 100%;
}

  .nav-tabs {
    display: none;
  }

  .hide {
  display: block;
  }

.btn-secondary {
    color: #009bdb;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid #ACACAC;
    width: 100%;
    text-align: left;
      display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.dropdown-toggle::after {
  /* content: "\f078"; */
  display: none;
} 

.dropdown-menu.show {
  width: 100%;
  margin-top: 1rem;
}

.dropdown-item {
  color: #000;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #ACACAC;
  padding: 0.5rem 0rem .55rem 0rem;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
      background-color: transparent;
    border-color: transparent;
    border: 1px solid #000;
    color: #000;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
  color: #000;
  border-bottom: 1px solid #ACACAC;
}

.dropdown-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* .fa-check:before {
  display: none !important;
} */


.btn:not(:disabled):not(.disabled) {
  color: #000;
  margin-bottom: 2rem;
}

.event h1 {
font-size: 1.6rem;
}

  .openmodel .test2 span {
    font-size: 12px;
  }

.event p {
font-size: 1rem;
}

.event .smart-contener-img {
text-align: center;
margin-top: 3rem;
}

.event .smart-img-back {
width: 95%;
}

.event .smart-img-front {
width: 50%;
left: 8rem;
}

.event .group {
margin-top: 0rem;
}
/* 
.tabs {
display: none;
} */

.nav-tabs .nav-link {
  font-size: 15px!important;
  margin-right: 17px !important;
  line-height: 2;
}

.tabs h1 {
  font-size: 18px;
}

.tabs span {
  font-size: 14px;
  display: block;
}

.tabs .openCvBtn {
  float: none;
  padding: 1rem;
  line-height: 5;
}

.hid {
  display: none;
}

.openmodel {
  width: 100%;
}

.openmodel form .send {
  width: 50%;
  padding: 3%;
  margin-top: 2rem;
}

.openmodel form input {
  padding: 2%;
}

.jion img {
    width: 55%;
    text-align: center;
    margin-left: 4rem;
}

.jion .group {
    margin-top: 0rem;
}


  .cv {
      width: 100%;
  }

  .cv form .send {
      width: 45%;
  }

  .cv form h3 {
      font-size: 12px;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .event {
    height: 100%;
  }

  .tabs {
  height: 100%;
}

  .nav-tabs {
    display: none;
  }

  .hide {
  display: block;
  }

.btn-secondary {
    color: #009bdb;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid #ACACAC;
    width: 100%;
    text-align: left;
      display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.dropdown-toggle::after {
  /* content: "\f078"; */
  display: none;
} 

.dropdown-menu.show {
  width: 100%;
  margin-top: 1rem;
}

.dropdown-item {
  color: #000;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #ACACAC;
  padding: 0.5rem 0rem .55rem 0rem;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
      background-color: transparent;
    border-color: transparent;
    border: 1px solid #ACACAC;
    color: #000;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
  color: #000;
  border-bottom: 1px solid #ACACAC;
}

.dropdown-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* .fa-check:before {
  display: none !important;
} */


.btn:not(:disabled):not(.disabled) {
  color: #000;
  margin-bottom: 2rem;
}

  .revers {
    flex-flow: column-reverse;
  }

  .openmodel .test2 span {
    font-size: 14px;
  }

  .event .smart-contener-img {
    text-align: center;
    margin-top: 5rem;
  }

  .event .smart-img-back {
    width: 85%;
  }

  .event h1 {
    font-size: 2rem;
  }

  .event .smart-img-front {
    width: 45%;
    margin-left: 0rem;
    left: 10rem;
  }

  .event .group {
    margin-top: 0rem;
  }
/* 
  .tabs {
    display: none;
  } */

  
.nav-tabs .nav-link {
  font-size: 15px!important;
  margin-right: 17px !important;
  line-height: 2;
}

.tabs h1 {
  font-size: 18px;
}

.tabs span {
  font-size: 14px;
  display: block;
}

.tabs .openCvBtn {
  float: none;
  padding: 1rem;
  line-height: 5;
}

.hid {
  display: none;
}

.openmodel {
  width: 100%;
}


.openmodel form .send {
  width: 50%;
  padding: 3%;
  margin-top: 2rem;
}

.openmodel form input {
  padding: 2%;
}

  
  .jion img {
      width: 55%;
      text-align: center;
      margin-left: 4rem;
  }

  .jion .group {
      margin-top: 0rem;
  }

  .cv {
      width: 100%;
  }

  
  .cv form .send {
      width: 45%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .event {
    height: 100%;
  }

    .openmodel .test2 span {
    font-size: 16px;
  }

  .revers {
    flex-flow: column-reverse;
  }

  .event .smart-contener-img {
    text-align: center;
    margin-top: 1rem;
  }

  .event .smart-img-back {
    width: 55%;
  }

  .event .smart-img-front {
    width: 26%;
    margin-left: 8rem;
  }

  .event .group {
    margin-top: 0rem;
  }
/* 
  .tabs {
    display: none;
  } */

  
.nav-tabs .nav-link {
  font-size: 24px!important;
  margin-right: 2rem !important;
}

.tabs h1 {
  font-size: 22px;
}

.tabs span {
  font-size: 16px;
}

.tabs .openCvBtn {
  padding: .5rem;
}


  
.openmodel form .send {
  width: 50%;
  padding: 3%;
  margin-top: 2rem;
}

.openmodel form input {
  padding: 2%;
}

  .jion {
      height: 100%;
  }

  .jion img {
      width: 35%;
      text-align: center;
      margin-left: 12rem;
  }

  .jion .group {
      margin-top: 0rem;
  }

  .cv h1 {
    font-size: 32px;
  }

  .cv i {
      top: 45px;
  }
  
  .cv form .send {
      width: 35%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}

/* end madia */
