

/* start event */

.event h1 {
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}
.event p {
  font-size: 16px;
  line-height: 1.6;
  color: #4b4b4b;
}

.event {
  height: 100vh;
  display: flex;
}

.test {
  margin: auto;
}

.event .group {
  display: -webkit-box;
  margin-top: 25rem;
}

.smart-img-back {
  width: 100%;
}

.smart-contener-img {
  /* text-align: center; */
  margin-top: 19%;
}

.smart-img-front {
  position: absolute;
  left: 35%;
  top: 0%;
  height: 70%;
  width: 55%;
}

/* end event */

/* start Lobortis */

.Lobortis {
  height: 100vh;
  margin-top: 10%;
  background: url(/img/background@2x.png);
}

.Lobortis img {
  width: 240px;
  height: 240px;
  margin-bottom: 15%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Lobortis h1 {
  color: #000;
  font-size: 21px;
  font-weight: bold;
  margin-left: -7%;
  margin-top: 0;
}

.Lobortis span {
  color: #acacac;
  font-size: 12px;
  margin-left: -7%;
  position: relative;
  bottom: 5px;
}

.Lobortis p {
  font-size: 12px;
  color: #4b4b4b;
  margin-bottom: 2%;
  margin-left: -7%;
  line-height: 2;
}

.Lobortis .btn {
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  text-align: center;
  color: #fff;
  background-color: #009bdb;
  margin-left: -7%;
}


.pagination {
  /* margin-left: 30%; */
  margin-top: 10%;
  width: 100%;
}

.pagination .pav {
  width: 100%;
  display: flex;
  justify-content: center;
}


.pagination a {
  color: #232323;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-size: 16px;
}

.pagination a.active {
  background-color: #000;
  color: white;
  border-radius: 50%;
}

.pagination a:hover:not(.active) {
  border-radius: 50%;
}

/* end Lobortis */

/* start slider */

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*jssor slider arrow skin 106 css*/
.jssora106 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora106 .c {
  fill: #fff;
  opacity: 0.3;
}
.jssora106 .a {
  fill: none;
  stroke: #000;
  stroke-width: 350;
  stroke-miterlimit: 10;
}
.jssora106:hover .c {
  opacity: 0.5;
}
.jssora106:hover .a {
  opacity: 0.8;
}
.jssora106.jssora106dn .c {
  opacity: 0.2;
}
.jssora106.jssora106dn .a {
  opacity: 1;
}
.jssora106.jssora106ds {
  opacity: 0.3;
  pointer-events: none;
}

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #000;
}
.jssort101 .p .cv {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  box-sizing: border-box;
  z-index: 1;
}
.jssort101 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
  visibility: hidden;
}
.jssort101 .p:hover .cv,
.jssort101 .p.pdn .cv {
  border: none;
  border-color: transparent;
}
.jssort101 .p:hover {
  padding: 2px;
}
.jssort101 .p:hover .cv {
  background-color: rgba(0, 0, 0, 6);
  opacity: 0.35;
}
.jssort101 .p:hover.pdn {
  padding: 0;
}
.jssort101 .p:hover.pdn .cv {
  border: 2px solid #fff;
  background: none;
  opacity: 0.35;
}
.jssort101 .pav .cv {
  border-color: #fff;
  opacity: 0.35;
}
.jssort101 .pav .a,
.jssort101 .p:hover .a {
  visibility: visible;
}
.jssort101 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0.6;
}
.jssort101 .pav .t,
.jssort101 .p:hover .t {
  opacity: 1;
}


.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 70%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: #232323;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
  width: 80%;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
/* 
.test {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
} */

.closeModalBtn {
  position: absolute;
  right: 1%;
  height: 6%;
  width: 5%;
  top: 1%;
  z-index: 200;
}


/* start madia */

@media only screen and (max-width: 1024px) {

  .Lobortis img {
    width: 200px;
  }

  .Lobortis h1 {
    margin-top: -3%;
  }

}

@media only screen and (max-width: 768px) {

  .smart-contener-img {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 20rem;
  }

  .event .group {
    margin-top: 3rem;
  }

      .revers {
      display: flex;
      flex-direction: column-reverse;
    }

    
  .Lobortis {
    height: 100%;
    margin-top: 20%;
  }

  .Lobortis h1 {
    margin-left: -27%;
    margin-top: 0 !important;
  }

  .Lobortis span {
    margin-left: -25%;
  }

  .Lobortis p {
    margin-left: -25%;
    line-height: 2;
  }

  .Lobortis .btn {
    margin-left: -25%;
    margin-bottom: 25%;
  }

  .Lobortis img {
    width: 135px !important;
    height: 160px !important;
  }
}

@media only screen and (max-width: 425px) {
  .smart-contener-img {
    margin-left: 0rem !important;
    margin-top: 8rem;
  }

  .event .group h1 {
    font-size: 30px;
  }

  
  .pagination {
    width: 100%;
    /* margin-left: -6% !important; */
  }
  .pagination .pop {
    display: none;
  }

  .Lobortis img {
    width: 130px !important;
    height: 180px !important;
  }

  .events h1 {
    margin-top: 170%;
  }

  .Lobortis .btn {
    margin-bottom: 20%;
    width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  .Lobortis h1 {
    margin-left: -10% !important;
    font-size: 14px;
  }

  .Lobortis span {
    margin-left: -10% !important;
    font-size: 9px;
  }

  .Lobortis p {
    margin-left: -10% !important;
    font-size: 10px;
  }

  .Lobortis .btn {
    margin-left: -10% !important;
    font-size: 10px;
  }
}

@media only screen and (max-width: 320px) {
    .event .group h1 {
        font-size: 24px !important;
    }
    
  .Lobortis h1 {
    margin-left: -10% !important;
    font-size: 14px;
  }

  .Lobortis span {
    margin-left: -10% !important;
    font-size: 9px;
  }

  .Lobortis p {
    margin-left: -10% !important;
    font-size: 10px;
  }

  .Lobortis .btn {
    margin-left: -10% !important;
    font-size: 10px;
  }
}

/* end madia */