/* start swiper */

.slider {
    height: 100vh;
}


.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fff;
}

.gallery-thumbs {
  height: 45%;
  box-sizing: border-box;
  margin-left: 30%;
  max-width: 60%;
  background-color: transparent;
  position: absolute;
  top: 60vh;
  padding: 4.5%;
  display: flex;
}

.gallery-thumbs .swiper-slide {
  height: 70%;
  width: 20%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.pepole h1 {
  font-size: 30px;
  font-weight: 900;
  text-align: start;
  margin-top: 25%;
}

.pepole span {
  color: #a8a8a8;
  font-size: 14px;
}

.pepole p {
  color: #4b4b4b;
  font-size: 18px;
  line-height: 2;
  width: 80%;
}

.pepole ul {
  list-style: none;
  display: flex;
  margin-left: -5%;
}

.swiper-slide .person {
  opacity: 1;
  width: 50%;
  height: 100%;
  text-align: center;
  margin-left: 25%;
    height: 100vh;
}

.pepole ul li {
  padding: 1%;
}

/* end swiper */


/* start join */

.jion {
  height: 100vh;
  display: flex;
}

.jion .group img {
  width: 80%;
  padding-top: 15%;
  height: 60%;
}

.jion .group {
  justify-content: center;
  display: -webkit-box;
}

.jion h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 46rem;
}

.jion p {
  font-size: 16px;
  line-height: 1.8;
}

.jion .openCvBtn {
  background-color: #009bdb;
  color: #ffffff;
  border-radius: 3px;
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  text-decoration: none;
}

/* end jion */

/* satrt cv */
.cv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2002;
  width: 50%;
}

.cv .opac {
  background-color: #000;
  opacity: 0.2;
}

.cv .apply {
  background: #000;
  height: 100%;
}

.cv h1 {
  color: #fff;
  margin-left: 10%;
  padding: 2%;
}

.cv form input {
  width: 90%;
  margin-left: 5%;
  padding: 1%;
  margin-top: 2%;
  font-size: 15px;
  color: #aaaaaa;
  background-color: transparent;
  border: 1px solid#AAAAAA;
  border-radius: 5px;
  color: #fff;
}

.cv form textarea {
  background: transparent;
  padding: 1%;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  color: #fff;
}

.cv form .send {
  width: 25%;
  text-align: center;
  background-color: #009bdb;
  color: #fff;
  border: none;
}

.cv .cloud {
  text-align: center;
  border: dashed;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
}

.cv form h3 {
  font-size: 16px;
  padding-left: 3%;
}

.cv i {
  color: #fff;
  z-index: 5555;
  position: relative;
  top: 75px;
  font-size: 24px;
  margin-left: 5%;
}

/* end cv */


/* start madia */

@media only screen and (max-width: 320px) {
    .jion h1 {
        /* font-size: 24px; */
        white-space: nowrap;
        margin-top: 17rem;
    }

    .jion .group img {
    margin-left: -6rem !important;
    }

    .pepole p {
        font-size: 1.3rem !important;
    }

    .gallery-thumbs {
        display: flex;
        /* flex-flow: column; */
        justify-content: end;
        margin-top: 53% !important;
    }

}

@media only screen and (max-width: 375px) {
  
  .jion h1 {
    /* font-size: 24px; */
    white-space: nowrap;
    margin-top: 21rem;
  }

}

@media only screen and (max-width: 425px) {

  .jion .group img {
    width: 148%;
    height: auto;
    margin-left: -15rem !important;
  }

    .jion h1 {
    /* font-size: 24px; */
    white-space: nowrap;
    margin-top: 45rem;
  }

  .slider {
      margin-top: 3rem;
      height: 100vh;
  }

  .swiper-slide .person {
      height: 40vh;
  }

  .pepole h1 {
      margin-top: 0;
      margin-left: 1rem;
  }

  .pepole span {
      margin-top: 0;
      margin-left: 1rem;
  }

  .pepole p {
      margin-top: 0;
      margin-left: 1rem;
  }

  .pepole ul {
      margin-top: 0;
      margin-left: -3.5rem !important;
  }

  .gallery-thumbs {
      height: 25%;
      margin-top: 35%;
      text-align: center;
      margin-left: 0% !important;
      max-width: 100% !important;
  }

}

@media only screen and (max-width: 768px) {

    .slider {
        height: 100vh;
    }


    .pepole p {
        font-size: 14px;
    }

    .pepole ul {
        margin-left: -4.4rem;
    }

    .gallery-thumbs {
        max-width: 40%;
        margin-left: 50%;
    }

  .jion .group img {
    text-align: center;
    margin-left: -9rem;
  }

  .cv {
      width: 100%;
  }

  .cv form .send {
    width: 50%;
    margin-left: 25%;
    margin-top: 9%;
    padding: 3%;
  }

    .cv h1 {
        font-size: 28px;
        margin-top: 0%;
        margin-left: 15%;
    }

    .cv i {
        margin-top: 0%;
    }

    .cv form input {
        margin-bottom: 5%;
    }

}